<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>OAuth Login Failure</title>
    </head>
    <body>
        <h1>OAuth Login Failed!</h1>
        <p>Error code: {{code}}</p>
        <p>Message: {{message}}.</p>
        <p>Error code explanation: {{explain}}.</p>
    </body>
</html>
