<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Databricks OAuth U2M Demo Application</title>
</head>
    <body>
        <h1>Setup OAuth Application</h1>
        <p>
            Have an OAuth application already for your workspace? Enter your client ID and secret below.
        </p>
        <form action="#" th:action="@{/initialize-app}" method="post">
            <input type="text" name="client_id" placeholder="Enter your client ID"/>
            <input type="text" name="client_secret" placeholder="Enter your client secret"/>
            <input type="text" name="hostname" placeholder="Workspace Host"/>
            <button type="submit">Register existing app</button>
        </form>
        <p>
            Need to register a new OAuth application? Enter in your account username and password.
        </p>
        <form action="#" th:action="@{/make-new-app}" method="post">
            <input type="text" name="username" placeholder="Enter your username"/>
            <input type="password" name="password" placeholder="Enter your password"/>
            <input type="text" name="hostname" placeholder="Workspace Host"/>
            <button type="submit">Create new app</button>
        </form>
    </body>
</html>
